/*
      Created by Prateek Kumar 
	  
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 width: 1100px;

}
#header {
 color: #333;
 width: 1060px;
 float: left;
 padding: 10px;
 border: 10px solid #ccc;
 min-height: 100px;
 margin: 10px 0px 5px 0px; 
}
#leftcolumn { 
 width: 588px;
 color: #333;
 border: 10px solid #ccc; 
 margin: 0px 0px 5px 0px;
 padding: 10px;
 min-height: 635px; 
 float: left;
}
#rightcolumn { 
 width: 425px;
 color: #333;
 border: 10px solid #ccc; 
 margin: 0px 0px 5px 0px;
 padding: 10px;
 min-height: 635px;
 display: inline;
 float: right; 
}
#footer { 
 width: 1060px;
 clear: both;
 color: #333;
 border: 10px solid #ccc;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}
