# Name of the submodule = {serviceName} from listener.py/launcher.py
serviceName: "CANOES"
# Name of the module
moduleName: "structuralvariation"
# Databases folder (start with /)
databases: "/databases"
# Service folder (start with /)
services: "/services"
# Config folder (start with /)
config: "/config"
# Specify a DATE_TIME value (for rerun)
DATE_TIME: ""
# Output directory (should be defined in the container if using docker)
OUTPUT_DIR: ""
# Other path to copy results, leave empty to not copy, add a path to copy to this folder
# Replace by "depository" will copy the results in a second folder based on OUTPUT_DIR, replacing "repository" with "depository" if repository exist
DEPOT_DIR: "depository"
# Default path to the input datas == {run} from listener.py/launcher.py
run: ""

# Bed file
BED_FILE: ""
# Genes file
GENES_FILE: ""
# Transcripts file
TRANSCRIPTS_FILE: ""
# List genes
LIST_GENES: ""

#List to add run to the analysis
addruns: []

# Samples list exclusion (not to be analyse) ; exclude if startwith, case insensitive
EXCLUDE_SAMPLE: ['POOL_', 'BlcADN', 'blanc', 'BlcPCR', 'blcPCR', 'Z_NTC', 'NTC', 'Blc']
# Sample filter : only analyse those samples
FILTER_SAMPLE: []

# Files to index into the dictionary depending on extension (endwith)
EXT_INDEX_LIST: [".cram", ".cram.crai", ".transcripts", ".genes.bed", ".design.bed", ".bam", ".bam.bai", ".list.genes", ".tag", ".ped", ".final.vcf.gz"]
# List of files extension to process
PROCESS_FILE: ['.bam', 'bam.bai']
# How to copy input files (bam, bai, cram) : ln or leave empty (it will rsync files or index for bai from bam)
PROCESS_CMD: ''
# Append an aligner name if no empty (from sample.bam to sample.alignername.bam)
ALIGNER_NAME:
# Only analyse sample.validation.aligner.bam/cram files
VALIDATION_ONLY: False

# Extension files to copy after pipeline success
# if using brace extension then remove space between extensions
INCLUDE_RSYNC: "{'*Design.vcf.gz','*Design.vcf.gz.tbi','*AnnotSV.Design.tsv','*allsamples.Design.tsv','*Panel*.vcf.gz','*Panel*.vcf.gz.tbi','*Panel*.tsv','*.pdf','*.html','*.css','*/'}"
# Extensions files to copy after pipeline failure
INCLUDE_LOG_RSYNC: "{'*.log','*.err','*Failed.txt','*.bed','*/'}"

##### Search parameters of input for the search function #####
RECURSIVE_SEARCH: False
SEARCH_ARGUMENT: ["/*/STARK/*", "/*/*"]

# R & Python scripts, dummy folders
R_SCRIPTS: "/app/scripts/R"
DUMMY_FILES: "/app/scripts/dummy"

# Scripts py
SPLIT_SCRIPT: "/app/scripts/python/split_tsv.py"
MULTIFIX_SCRIPT: "/app/scripts/python/multifix_vcf.py"
MERGE_SCRIPT: "/app/scripts/python/merge_tsv.py"
BEDCOV_SCRIPT: "/app/scripts/python/pybedtools.py"
MERGEMULTICOV_SCRIPT: "/app/scripts/python/merge_multicov.py"
PLOT_COVERAGE_SCRIPT: "/app/scripts/python/plot_coverage_stats.py"

# Fileconversion json for variant convert
VARIANT_CONVERT_ANNOTSV: "/app/config/fileconversion/annotsv3_from_vcf.json"
VARIANT_CONVERT_CANOES: "/app/config/fileconversion/config_canoes_bed.json"

# Path folder of the template (template is serviceName_template.html)
TEMPLATE_DIR: "/app/template"
# List of extensions to include in the report.html
RESULT_EXT_LIST: ['.vcf.gz', '.vcf.gz.tbi', 'Design.tsv', 'gender', 'hpo'] # add '.pdf' if you want graphs

# LOG level 30=logging.WARNING or 20=logging.INFO
LOG_LEVEL: 30

# kmerisation of CANOES bed (integer) (ex 250)
KMER: ""
# Remove M (XY) or F (XX) or A (autosome) analysis, ex ['XY', 'XX'] for autosome only
REMOVE_GENDER: ""

################## Misc params ##################
# Default path to a FASTA file with .fasta reference genome (hg19/hg38 for ex)
REFGENEFA_PATH: "/databases/genomes/current/hg19.fa"
# Java mem option for gatk4 GC % extraction
JAVA_OPTION: "-Xmx8G"

################## AnnotSV params for DB setup ##################
# don't forget to change application.properties from /app/config/annotsv
ANNOTSV_VERSION: "3.4"
EXOMISER_VERSION: "2402"
# Other params
ASSEMBLY: "hg19" # must be consistant with genomeBuild variable
# accessory db
GENEHANCER_VERSION: "GeneHancer_hg19_v5.9"
# GeneHancer data is under a specific licence that prevent the systematic availability in AnnotSV sources. Users need to request the up-to-date GeneHancer data dedicated to AnnotSV " #(“GeneHancer_<version>_for_annotsv.zip“) by subscribing to the Genecard web site https://www.genecards.org/
# unzip -q GeneHancer_<version>_for_annotsv.zip -d ($ANNOTSV/share/AnnotSV)/Annotations_Human/FtIncludedInSV/RegulatoryElements/
# Cosmic db is CosmicCompleteCNA.tsv.gz

# HTTPS links for AnnotSV and Exomiser downloads
ANNOTSV_DOWNLOAD_LINK: "https://www.lbgi.fr/~geoffroy/Annotations/Annotations_Human_{ANNOTSV_VERSION}.tar.gz"
EXOMISER_DOWNLOAD_LINK1: "https://data.monarchinitiative.org/exomiser/data/{EXOMISER_VERSION}_{assembly}.zip"
EXOMISER_DOWNLOAD_LINK2: "https://data.monarchinitiative.org/exomiser/data/{EXOMISER_VERSION}_phenotype.zip"

# Command use to download db
COMMAND: "aria2c --async-dns=false -c -s 16 -x 16 -k 1M -j 1"

################## AnnotSV params ##################
ANNOTSV_ANNOTATION: True
genomeBuild: GRCh37 # GRCh38 default, set to GRCh37 for hg19
overlap: 100 # default 100
annotationMode: both # split, full or both (defaut both)
annotationdir: "/databases/AnnotSV/3.4/" # path to the annotation database
vcf_extension: ".final.vcf.gz" # vcf extension to annotate with the -snvIndelFiles option ; extension should be in EXT_INDEX_LIST
# Limit of attempt to perform AnnotSV annotation
annotSV_limit: 30

##################   Plots params   ##################
# Generate plot coverage (warning if the number of rows is high (ie number of regions defined with the bed > 1 000)) it will generate a huge file or crash
plots: False

##################   CANOES params   ##################
pval: "1e-08" # pval:average rate of occurrence of CNVs (real) default is 1e-08
dist: "70000" # dist: expected distance between targets in a CNV (integer) default is 70,000
tnum: "6" # tnum: expected number of targets in a CNV (integer) default is 6
numref: "30" # numref : maximum number of reference samples to use (integer) default is 30 ; the weighted variance calculations will take a long time if too many reference samples are used
homdel: "0.2" # threeshold for homozygous deletion
# path to the tsv file containing 2 columns : bam for the list of reference bams for CNV calling (full path of bams), and gender (F/M)
# the bam files have to be indexed
# number of reference patients should be 10 or more, and if the gender is considere, 10 per gender
# the panel of genes and the technology of sequencing (capture/amplicon) must be identical between reference samples and patient samples
# REF_BAM_LIST: "--refbams /app/res/list.tsv"
REF_BAM_LIST: ""

# AnnotSV needs the "CosmicCompleteCNA.tsv.gz" file from https://cancer.sanger.ac.uk/cosmic/download (Copy Number Variants part, Download Whole file)
# Put the "CosmicCompleteCNA.tsv.gz" file in the corresponding directory: "$ANNOTSV/share/AnnotSV/Annotations_Human/FtIncludedInSV/COSMIC/GRCh37/
# create the directory is necessary (./Annotations_Human/FtIncludedInSV/COSMIC/GRCh37/)
# These files will be reprocessed and then removed the first time AnnotSV is executed.

## Auto install COSMIC Annotation for SV
# 1 - Generate an authentication string
# Your first request needs to supply your registered email address and COSMIC password. 
# We use HTTP Basic Auth to check your credentials, which requires you to combine your email address and password and then Base64 encode them. 
# For example, using standard Unix command line tools: 
# echo "email@example.com:mycosmicpassword" | base64
# yougetthekey64
# You can use the same authentication string for all of your downloads. You only need to re-generate the string if you change your COSMIC password. 

# 2 - Get a download link
#Make a request to https://cancer.sanger.ac.uk/cosmic/file_download/GRCh37/cosmic/v95/CosmicCompleteCNA.tsv.gz. 
# You need to pass the authentication string to the server when you make your request. For example: 
# curl -H "Authorization: Basic yougetthekey64" https://cancer.sanger.ac.uk/cosmic/file_download/GRCh37/cosmic/v95/CosmicCompleteCNA.tsv.gz
# That request will return a snippet of JSON containing the link that you need to use to download your file. For example: 
#{"url" : "https://cog.sanger.ac.uk/cosmic/GRCh37/cosmic/v95/CosmicCompleteCNA.tsv.gz?AWSAccessKeyId=yourID&Expires=yourData" }

# 3 - Download the data file
# Extract the URL from the JSON response and make another request to that URL to download the file. For example:
# curl "https://cog.sanger.ac.uk/cosmic/GRCh37/cosmic/v95/CosmicCompleteCNA.tsv.gz?AWSAccessKeyId=yourID&Expires=yourData"
# You do not need to supply the authentication header on this request. Download links are valid for one hour. 