/* Reset some default styles */
body, h1, h2, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Container styling */
#left-menu {
    float: left;
    width: 10%;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
	position: fixed; /* Make the left-menu fixed */
    top: 0; /* Stick to the top */
    bottom: 0; /* Stretch to the bottom */
}

#content {
    margin-left: 20%;
    padding: 20px;
}

/* Navigation links styling */
#left-menu h2 {
    font-size: 1.5em;
}

#left-menu ul {
    list-style: none;
    padding: 0;
}

#left-menu li {
    margin-bottom: 10px;
}

#left-menu a {
    text-decoration: none;
    color: #333;
}

#left-menu a:hover {
    color: #007bff;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* Individual run styling */
#content h1 {
    color: #007bff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
