#########
# STARK #
#########
# Usage: docker-compose up

version: '3'

# SERVICES #
############

services:
    # # setup
    # stark-module-variantannotation-submodule-vannot-service-setup:
    #     image: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_IMAGE}
    #     build:
    #         context: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_IMAGE_CONTEXT}
    #         dockerfile: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_IMAGE_CONTEXT_DOCKERFILE}
    #     entrypoint: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_CONTAINER_ENTRYPOINT}
    #     command: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_CONTAINER_COMMAND}
    #     container_name: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_CONTAINER_NAME}
    #     restart: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_CONTAINER_RESTART}
    #     environment:
    #         - DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_HOST_FOLDER_CONFIG=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_HOST_FOLDER_CONFIG}
    #         - DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_INNER_FOLDER_CONFIG=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_INNER_FOLDER_CONFIG}
    #         - DOCKER_MODULE_VARIANTANNOTATION_SUBMODULE_VARIANTANNOTATION_FOLDER_DATABASES=${DOCKER_STARK_INNER_FOLDER_DATABASES}
    #         - DOCKER_MODULE_VARIANTANNOTATION_SUBMODULE_VARIANTANNOTATION_FOLDER_SERVICES=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_INNER_FOLDER_SERVICES}
    #         - DOCKER_STARK_MODULE_SUBMODULE_RELEASE=${DOCKER_STARK_MODULE_SUBMODULE_RELEASE}
    #         - DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_RELEASE=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_RELEASE}
    #         - DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_RELEASE=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_RELEASE}
    #         - DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_RELEASE=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_RELEASE}
    #     volumes:
    #         - ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_HOST_FOLDER_CONFIG}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_SETUP_INNER_FOLDER_CONFIG}:rw
    #         # - /home1/bin/STARK-modules/dev.MR/services/vannot/vannot/setup/dockerfile/bin/setup.py:/setup/setup.py:rw
    #         - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATABASES}:${DOCKER_STARK_INNER_FOLDER_DATABASES}:rw
    #         - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_SERVICES}:${DOCKER_STARK_INNER_FOLDER_SERVICES}:rw
    #     networks:
    #         - ${DOCKER_STARK_MAIN_NETWORK}

    # cli
    stark-module-variantannotation-submodule-vannot-service-cli:
        image: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_IMAGE}
        build:
            context: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_IMAGE_CONTEXT}
            dockerfile: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_IMAGE_CONTEXT_DOCKERFILE}
        container_name: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_CONTAINER_NAME}
        entrypoint: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_CONTAINER_ENTRYPOINT}
        command: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_CONTAINER_COMMAND}
        restart: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_CONTAINER_RESTART}
        environment:
            # Docker environment variables
            - SLEEP=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_PARAM_SLEEP}
            - DOCKER_SUBMODULE_NAME=${DOCKER_STARK_MODULE_SUBMODULE_NAME}
            - DOCKER_SERVICE_CLI_RELEASE=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_RELEASE}
            # Host environment variables
            - HOST_TMP=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}
            - HOST_DATABASES=/home1/DB/HOWARD/
            - HOST_CONFIG=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG}
            - HOST_MODULE_CONFIG=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG}/${DOCKER_STARK_MODULE_NAME}/${DOCKER_STARK_MODULE_SUBMODULE_NAME}
            - HOST_REPOSITORY=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}
            - HOST_DEPOSITORY=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}
            - HOST_SERVICES=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES}
        volumes:
            # Volumes for generating, deposing and archiving results
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVES}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVES}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:rw
            - ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES}:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:rw
            # Volume for Docker to work inside a container
            - /var/run/docker.sock:/var/run/docker.sock
            - /tmp/:/tmp/
            # Volumes for vannot configuration
            - ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG}:rw
            # Volumes for databases
            - /home1/DB/HOWARD/:/home1/DB/HOWARD/:ro
            - /home1/DB/HOWARD/dejavu/:/home1/DB/HOWARD/dejavu/:rw
            # Volume for developing, to comment if not used
            - /home1/bin/STARK-modules/dev_MR/services/variantannotation/vannot/cli/dockerfile/bin/:/tools/vannot/:rw
        networks:
            - ${DOCKER_STARK_MAIN_NETWORK}
        # healthcheck:
        #     test:
        #         [
        #             "CMD",
        #             "test",
        #             "-f",
        #             "${HOST_MODULE_CONFIG}/SetupComplete.txt"
        #         ]
        #     timeout: 10s
        #     interval: 10s
        #     retries: 3600

    # listener
    stark-module-variantannotation-submodule-vannot-service-listener:
        image: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_IMAGE}
        # depends_on:
        #     stark-module-variantannotation-submodule-vannot-service-cli:
        #         condition: service_healthy
        container_name: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_CONTAINER_NAME}
        entrypoint: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_CONTAINER_ENTRYPOINT}
        command: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_CONTAINER_COMMAND}
        restart: ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_CONTAINER_RESTART}
        environment:
            - MICROSERVICE_IMAGE=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_IMAGE}
            # - MICROSERVICE_MONTAGE=-e SLEEP=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_PARAM_SLEEP} -e DOCKER_SUBMODULE_NAME=${DOCKER_STARK_MODULE_SUBMODULE_NAME} -e DOCKER_SERVICE_CLI_RELEASE=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_RELEASE} -e HOST_TMP=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP} -e HOST_DATABASES=/home1/DB/HOWARD/ -e HOST_CONFIG=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG} -e HOST_MODULE_CONFIG=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG}/${DOCKER_STARK_MODULE_NAME}/${DOCKER_STARK_MODULE_SUBMODULE_NAME} -e HOST_REPOSITORY=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY} -e HOST_DEPOSITORY=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY} -e HOST_SERVICES=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES} -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVES}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVES}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:rw -v ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:rw -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/:/tmp/ -v ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG}:rw -v /home1/DB/HOWARD/:/home1/DB/HOWARD/:ro -v /home1/DB/HOWARD/dejavu/:/home1/DB/HOWARD/dejavu/:rw -v /home1/bin/STARK-modules/dev_MR/services/variantannotation/vannot/cli/dockerfile/bin/:/tools/vannot/:rw
            - MICROSERVICE_MONTAGE=-e SLEEP=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_PARAM_SLEEP} -e DOCKER_SUBMODULE_NAME=${DOCKER_STARK_MODULE_SUBMODULE_NAME} -e DOCKER_SERVICE_CLI_RELEASE=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_RELEASE} -e HOST_TMP=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP} -e HOST_DATABASES=/home1/DB/HOWARD/ -e HOST_CONFIG=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG} -e HOST_MODULE_CONFIG=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_CONFIG}/${DOCKER_STARK_MODULE_NAME}/${DOCKER_STARK_MODULE_SUBMODULE_NAME} -e HOST_REPOSITORY=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY} -e HOST_DEPOSITORY=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY} -e HOST_SERVICES=${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES} -v /home1/L_PROD/NGS/BAS/DOCKER_STARK_MAIN_FOLDER/output/repository:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:rw -v /home1/L_PROD/NGS/BAS/DOCKER_STARK_MAIN_FOLDER/output/depository:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}:rw -v /home1/L_PROD/NGS/BAS/DOCKER_STARK_MAIN_FOLDER/output/archives:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVES}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:rw -v ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_SERVICES}:rw -v ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_DATA}:rw -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/:/tmp/ -v ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_CLI_HOST_FOLDER_CONFIG}:rw -v /home1/DB/HOWARD/:/home1/DB/HOWARD/:ro -v /home1/DB/HOWARD/dejavu/:/home1/DB/HOWARD/dejavu/:rw -v /home1/bin/STARK-modules/dev_MR/services/variantannotation/vannot/cli/dockerfile/bin/:/tools/vannot/:rw
            # - MICROSERVICE_REPOSITORY=${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}
            - MICROSERVICE_REPOSITORY=/home1/L_PROD/NGS/BAS/DOCKER_STARK_MAIN_FOLDER/output/repository
        volumes:
            # Listener configuration
            - ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_HOST_FOLDER_CONFIG}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_INNER_FOLDER_CONFIG}:rw
            - ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_HOST_FOLDER_SERVICES}:${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_INNER_FOLDER_SERVICES}:rw
            # Module volumes
            # - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_REPOSITORY}:rw
            # - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_DEPOSITORY}:rw
            # - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVES}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_ARCHIVES}:rw
            - /home1/L_PROD/NGS/BAS/DOCKER_STARK_MAIN_FOLDER/output/repository:/STARK/output/repository:rw
            - /home1/L_PROD/NGS/BAS/DOCKER_STARK_MAIN_FOLDER/output/depository:/STARK/output/depository:rw
            - /home1/L_PROD/NGS/BAS/DOCKER_STARK_MAIN_FOLDER/output/archives:/STARK/output/archives:rw
            - ${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:${DOCKER_STARK_MAIN_FOLDER}/${DOCKER_STARK_FOLDER_OUTPUT_TMP}:rw
            - /home1/DB/HOWARD/:/home1/DB/HOWARD/:ro
            - /home1/DB/HOWARD/dejavu/:/home1/DB/HOWARD/dejavu/:rw
            - /var/run/docker.sock:/var/run/docker.sock
            - ${DOCKER_STARK_SOCK_MOUNT}
            # Listener specific launcher
            - ${DOCKER_STARK_MODULE_SUBMODULE_SERVICE_LISTENER_HOST_FOLDER_CONFIG}/launcher.py:/app/bin/config/launcher.py:rw

        networks:
            - ${DOCKER_STARK_MAIN_NETWORK}


    # NETWORK
    ###########

networks:
    stark_stark:
        external: true
