<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
    <title>Report</title>
</head>
<body>
    <div id="left-menu">
        <h2>Samples list</h2>
        <ul>
            {% for run_id in runDict.keys() %}
                <li><a href="#{{ run_id }}">{{ run_id }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        <h2>Welcome to the report for {{ serviceName }}</h2>
        <p>We analyse run {{ runName }}</p>
        <p>Number of samples in the run: {{ sample_list|length -1 }} (30 samples is recommended)</p>
        <p>Sample list:
            {% set first_item = true %}
            {% for item in sample_list %}
                {% if not first_item %},{% endif %}
                {% set first_item = false %}
                {% if "allsamples" not in item %}
                    {{ item }}
                    {% if not loop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
            </p>
        <p>{% if sample_list_added is defined %} Number of samples added : {{ sample_list_added|length }} {% endif %}</p>
        <p>Sample list added: {% for item in sample_list_added %}{{ item }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
        {% set combined_sample_list = sample_list + sample_list_added %}
        <p>Total of samples used : {{ combined_sample_list|length -1 }}</p>
        <p>Complete list :
            {% set first_item = true %}
            {% for item in sample_list %}
                {% if not first_item %},{% endif %}
                {% set first_item = false %}
                {% if "allsamples" not in item %}
                    {{ item }}
                    {% if not loop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
            </p>         
        {% if gender_list|length == 1 and gender_list[0] == "A" %}
        <p style="color:red;font-weight:bold;">WARNING : analysis was performed only for autosomes</p>
        {% endif %}
        {% if gender_list|length == 2 or gender_list|length == 3 %}
        <p style="color:red;font-weight:bold;">Analysis was performed for sexual chromosomes without errors</p>
        {% endif %}
        {% if gender_list|length == 2 and gender_list[1] == "XY" %}
        <p style="color:red;font-weight:bold;">Male patients list</p>
        {% endif %}
        {% if gender_list|length == 3 and gender_list[2] == "XX" %}
        <p style="color:red;font-weight:bold;">Female patients list</p>
        {% endif %}
        <p>Here is the details for each samples in the run</p><br>
        {% for run_id, details in runDict.items() %}
            <h1 id="{{ run_id }}">{{ run_id }}</h1>
            <table>
                <tr>
                    <th>Files by extension</th>
                    <th>Path or value</th>
                </tr>
                {% for file, path in details.items() %}
                    <tr>
                        <td>{{ file }}</td>
                        <td>
                        {% if file == "gender" or file == "HPO" %}
                            {{ path }}
                        {% else %}
                        <a href="{{ path }}" target="_blank">{{ path }}</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table><br>
        {% endfor %}
    </div>
</body>
</html>