##########################################################################
# Config Yaml Version:     1
# Description:             Yaml file to run fusions snakefile module
##########################################################################

# DEV version 1 : 23/11/2022
# Authoring : Thomas LAVAUX

##########################################################################
# Add here variables that will extend default configuration yaml file.
# If a variable was already defined in the default configuration yaml file, it will be replace.
# launch snakemake -s snakefile_fusions -c(numberofthreads) --config run=absolutepathoftherundirectory var1=0.05 var2=12
# separate multiple variable with a space
################## Directories and variables ##################
# Name of the submodule = {serviceName} from listener.py/launcher.py
serviceName: "FUSIONS"
# Name of the module
moduleName: "rnaseq"
# Databases folder
databases: "/databases"
# Service folder
services: "/services"
# Config folder
config: "/config"
# Specify a DATE_TIME value (for rerun)
DATE_TIME: ""
# Output directory
OUTPUT_DIR: ""
# Other path to copy results, leave empty to not copy, add a path to copy to this folder
# Replace by "depository" will copy the results in a second folder based on OUTPUT_DIR, replacing "repository" with "depository" if repository exist
DEPOT_DIR: "depository"
# Default path to the input datas == {run} from listener.py/launcher.py
run: ""

# Bed file
BED_FILE: ""
# Genes file
GENES_FILE: ""
# Transcripts file
TRANSCRIPTS_FILE: ""
# List genes
LIST_GENES: ""

# Files to index into the dictionary depending on extension (endwith)
EXT_INDEX_LIST: [".transcripts",".genes.bed",".design.bed",".list.genes",".tag",".R1.fastq.gz",".R2.fastq.gz"]
# List of files extension to process
PROCESS_FILE: [".R1.fastq.gz",".R2.fastq.gz"]
# How to copy input files (bam, bai, cram) : ln or leave empty (it will rsync files or index for bai from bam)
PROCESS_CMD: ''
# Only analyse bam/cram files named *.validation.bam or *.validation.cram
VALIDATION_ONLY: False
# Insert an aligner name to the bam/cram file name (from sample.bam to sample.aligner_name.bam)
ALIGNER_NAME:

# Samples list exclusion (not to be analysed) ; exclude if startwith, case insensitive
EXCLUDE_SAMPLE: ['POOL_', 'BlcADN', 'blanc', 'BlcPCR', 'blcPCR', 'Z_NTC', 'NTC']
# Sample filter : analysing only those samples
FILTER_SAMPLE: []

# Extension files to copy after pipeline success
# using brace extension, remove space between extensions
INCLUDE_RSYNC: "{'*arriba.tsv','*STAR.bam','*arriba.vcf.gz','*arriba.vcf.gz.tbi','*starfusion.tsv','*starfusion.vcf.gz','*starfusion.vcf.gz.tbi','*.pdf','*/'}"
# Extensions files to copy after pipeline failure
INCLUDE_LOG_RSYNC: "{'*.log','*.err','*Failed.txt'}"

##### Search parameters of input for the search function #####
RECURSIVE_SEARCH: False
SEARCH_ARGUMENT: ["/*"]

# Path of the template (template is serviceName_template.html)
TEMPLATE_DIR: "/app/template"
# For result html report, list of extensions to report
RESULT_EXT_LIST: ['.tsv','.bam','.pdf','.vcf.gz','.vcf.gz.tbi']

# Path for Draw scripts
SCRIPTS: "/opt/conda/bin"
# LOG level 30=logging.WARNING or 20=logging.INFO
LOG_LEVEL: 30

# Bcl convert
BCL_DIRECTORY: ""
SAMPLE_SHEET: ""

# Which caller to use for fusion
FUSION_CALLER: ["arriba", "starfusion"]

############## Tools specific parameters ##############
# Command to download db
COMMAND: "aria2c --async-dns=false -c -s 16 -x 16 -k 1M -j 1"

########## STAR ##########
# STAR option to junction file
JUNCTION_FILE: "Junctions WithinBAM"
GENOME_PATH_INDEXED: "/databases/CTAT_LIB/ctat_genome_lib_build_dir/ref_genome.fa.star.idx"

########## STAR FUSION ##########
CTAT_LIB: "/databases/CTAT_LIB/ctat_genome_lib_build_dir"
CTAT_LINK: "https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/GRCh37_gencode_v19_CTAT_lib_Mar012021.plug-n-play.tar.gz"
CTAT_FILTER_PM_LINK: "https://data.broadinstitute.org/Trinity/CTAT_RESOURCE_LIB/__genome_libs_StarFv1.10/AnnotFilterRule.pm"

######### ARRIBA ########## 
# Gencode GTF file for arriba (gz or uncompress)cd /a
GTF_GENCODE: "/databases/gencode/GRCh37.v19/gencode.v19.annotation.gtf.gz"
# Genome FASTA file reference for arriba (can be standard ref genome fa file)
GENOME_FA: "/databases/genomes/current/hg19.fa"
# Arriba specifics databases (default is /opt/conda/var/lib/arriba)
#arriba: "https://github.com/suhrig/arriba/releases/download/v2.4.0/arriba_v2.4.0.tar.gz"
REFPROTDOMAIN_PATH: "/opt/conda/var/lib/arriba/protein_domains_hg19_hs37d5_GRCh37_v2.4.0.gff3"
REFCYTOBAND_PATH: "/opt/conda/var/lib/arriba/cytobands_hg19_hs37d5_GRCh37_v2.4.0.tsv"
BLACKLIST_PATH: "/opt/conda/var/lib/arriba/blacklist_hg19_hs37d5_GRCh37_v2.4.0.tsv.gz"
REFFUSION_PATH: "/opt/conda/var/lib/arriba/known_fusions_hg19_hs37d5_GRCh37_v2.4.0.tsv.gz"
# Internal duplicate marking is the default. Arriba then detects PCR duplicates automatically based on identical end coordinates of fragments. The library attribute (LB) of the read group tag (RG) in the BAM header is not respected by Arriba's internal duplicate marking.
# -u When this switch is set, internal marking of duplicates is disabled and Arriba assumes that duplicates have been marked by a preceding program. It requires that alignments be marked as duplicates via the BAM_FDUP flag. External duplicate marking is advisable when the LB attribute should be respected or when a library with unique molecular identifiers (UMIs) is used (and other scenarios where duplicates cannot be identified merely based on mapping coordinates)
ARRIBA_UMI: ""
# Gencode DB Human
# for hg19 the last gencode version is v19; check the p version of the genome (p13) and name of the transcript file (prefix pc_)
ASSEMBLY: "GRCh37"
GENCODE_VERSION: "19"
ASSEMBLY_PATCH: "p13"
GENCODE_GTF_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/gencode.v{GENCODE_VERSION}.annotation.gtf.gz"
GENCODE_GENOME_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/{ASSEMBLY}.{ASSEMBLY_PATCH}.genome.fa.gz"
GENCODE_TRANSCRIPTS_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/gencode.v{GENCODE_VERSION}.pc_transcripts.fa.gz"
GENCODE_README_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/_README.TXT"

# for hg38 the first gencode version is v20 ; version 10/2023 is v44; version v46 is 05/2024 ; check the p version of the genome (p14) and name of the transcript file (no prefix)
#ASSEMBLY: "GRCh38"
#ASSEMBLY_PATCH: "p14"
#GENCODE_VERSION: "44"
#GENCODE_GTF_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/gencode.v{GENCODE_VERSION}.annotation.gtf.gz"
#GENCODE_GENOME_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/{ASSEMBLY}.{ASSEMBLY_PATCH}.genome.fa.gz"
#GENCODE_TRANSCRIPTS_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/gencode.v{GENCODE_VERSION}.transcripts.fa.gz"
#GENCODE_README_LINK: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_{GENCODE_VERSION}/_README.TXT"