<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
    <title>Run Details</title>
</head>
<body>
    <div id="left-menu">
        <h2>Run IDs</h2>
        <ul>
            {% for run_id in runDict.keys() %}
                <li><a href="#{{ run_id }}">{{ run_id }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="content">
        {% for run_id, details in runDict.items() %}
            <h1 id="{{ run_id }}">{{ run_id }}</h1>
            <table>
                <tr>
                    <th>File</th>
                    <th>Path</th>
                </tr>
                {% for file, path in details.items() %}
                    <tr>
                        <td>{{ file }}</td>
                        <td>{{ path }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
</body>
</html>