.red p, .red { color: #ff0000; }
.green { color: #00ff00; }
.blue { color: #0000ff; }

#contact_form li,
ol li { padding-bottom: 1em; }

.inner_list { font-size: 0.8em; }
.inner_table td p { font-size: 0.9em; }

.red { color: #FF0000; }
.blue { color: #0000FF; }
.green { color: #008000; }
.maroon { color: #800000; }
.purple { color: #800080; }
.lime { color: #00FF00; }

pre { font-size: 12px; }